<a class="
    card
    lift
    mb-md-5
    mr-md-3
    ml-md-3
    mb-lg-5
    mr-lg-3
    ml-lg-3
    mr-0
    ml-0
    mb-5
  ">
    <div class="card-body m-3">
        <div *ngIf="authority == 'admin'" class="row justify-content-end">
            <a class="col-2" (click)="openContent(Edit, true)">
                <mat-icon class="update-icon bigger-icon">edit</mat-icon>
            </a>
            <a class="col-2" (click)="delete(article.id)">
                <mat-icon class="update-icon bigger-icon">delete</mat-icon>
            </a>
        </div>
        <div (click)="openLink(article.link)">
            <h2 id="article-title" translate class="title mb-1 mt-4" [translateParams]="{
          title_hu: article.title_hu,
          title_en: article.title_en
        }">
                ARTICLE.title
            </h2>
            <h3 id="article-website_name" class="title mb-1 mt-1">
                {{ article.website_name }}
            </h3>
            <div class="row date col-12 p-0  mt-1 mb-1 align-items-center">
                <mat-icon class="bigger-icon">calendar_today</mat-icon>
                <div class="">{{ article.date | date: "yyyy.MM.dd" }}</div>
            </div>
            <div class="text-wrap col-12 p-0 mt-1 mb-1">
                <p translate class="card-text text-break" [translateParams]="{
            content_en: article.content_en,
            content_hu: article.content_hu
          }">
                    ARTICLE.content
                </p>
            </div>
            <div class="
          arrow-read
          col-md-6
          offset-md-6
          col-lg-6
          offset-lg-6
          col-10
          offset-2
          p-0
          mt-4
          d-none d-lg-block
        ">
                <div translate class="read-more m-0">
                    <mat-icon class="bigger-icon" aria-hidden="false">arrow_right_alt</mat-icon>
                    BUTTON.open
                </div>
            </div>
        </div>
    </div>
</a>

<ng-template #longContent let-modal>
    <div class="modal-header">
        <h2 translate class="title mb-2 mt-4" [translateParams]="{
        title_hu: article.title_hu,
        title_en: article.title_en
      }">
            ARTICLE.title
        </h2>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body pb-5">
        <div class="row date col-12 date mt-2 mb-2 align-items-center">
            <mat-icon class="bigger-icon">calendar_today</mat-icon>
            <div class="pl-1">{{ article.date | date: "yyyy.MM.dd" }}</div>
        </div>
        <div class="">
            <div [innerHTML]="
          'ARTICLE.content'
            | translate
              : {
                  content_en: article.content_en,
                  content_hu: article.content_hu
                }
        "></div>
        </div>
    </div>
</ng-template>

<ng-template #Edit let-modal id="edit-panel">
    <div class="modal-header">
        <h2 class="title mb-2 mt-4">Cikk módosítása</h2>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body pb-5">
        <form #EditForm="ngForm">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="MAGYAR" class="pt-3">
                    <div class="container p-3">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-12">
                                <div class="form-group">
                                    <mat-form-field [style.width.px]="400">
                                        <input matInput maxlength="50" minlength="2" name="title" type="text" id="title"
                                            [(ngModel)]="form.title" required placeholder="Cím" />
                                        <mat-error>Kötelező mező</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 col-12">
                                <div class="form-group">
                                    <mat-form-field [style.width.px]="400">
                                        <textarea matInput maxlength="50" minlength="2" name="content" type="text"
                                            id="content" [(ngModel)]="form.content" required
                                            placeholder="Leírás"></textarea>
                                        <mat-error>Kötelező mező</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="ANGOL" class="pt-3">
                    <div class="container p-3">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-12">
                                <div class="form-group">
                                    <mat-form-field [style.width.px]="400">
                                        <input matInput maxlength="50" minlength="2" name="title_en" type="text"
                                            id="title_en" [(ngModel)]="form.title_en" required placeholder="Title" />
                                        <mat-error>Kötelező mező</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 col-12">
                                <div class="form-group">
                                    <mat-form-field [style.width.px]="400">
                                        <textarea matInput maxlength="50" minlength="2" name="content" type="text"
                                            id="content_en" [(ngModel)]="form.content_en" required
                                            placeholder="Leírás"></textarea>
                                        <mat-error>Kötelező mező</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>

            <div class="col-md-6 col-lg-6 col-12 pb-2">
                <div class="form-group">
                    <mat-form-field [style.width.px]="400">
                        <mat-label>Link</mat-label>
                        <input matInput name="link" required [(ngModel)]="form.link" id="link" />
                    </mat-form-field>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-12 pb-2">
                <div class="form-group">
                    <mat-form-field [style.width.px]="400">
                        <mat-label>Weboldal neve</mat-label>
                        <input matInput name="website_name" required [(ngModel)]="form.website_name"
                            id="website_name" />
                    </mat-form-field>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-12 pb-2">
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Dátum</mat-label>
                        <input matInput [max]="maxDate" name="date" [matDatepicker]="date" [(ngModel)]="form.date"
                            id="date" />
                        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                        <mat-datepicker #date></mat-datepicker>
                        <mat-hint>Üresen hagyva az eredeti dátummal lesz elmentve</mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <div class="row justify-content-end pr-2">
                <a class="btn" (click)="onSubmit(EditForm, article.id)" href="javascript:void(0)"
                    [ngClass]="{ disabled: !EditForm.form.valid }"><span>Feltöltés</span></a>
            </div>
        </form>
    </div>
</ng-template>